{% extends "base.twig" %}


{% block content %}
    {% if main %}
        <div class="row">
            <div class="col-md-offset-9 col-md-3">
                <select id="events" multiple="multiple">
                    {% for event in events %}
                        <option value="{{ event.id }}">{{ event.name }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% if cards|length > 0 %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Тип</th>
                    <th>Станция</th>
                    <th>Источник</th>
                    <th>Тип Карты</th>
                    <th>Зона</th>
                </tr>
                </thead>
                <tbody id="resault-body">
                {% for card in cards %}
                    <tr>
                        <th title="Id: {{ card.Id }}">{{ card.datetimeevent }}</th>
                        <td title="IdEventName: {{ card.ideventname }}"><a href="/stats/event/{{ card.ideventname }}">{{ card.type }}</a></td>
                        <td>{{ card.station }}</td>
                        <td title="SourceId: {{ card.sourceid }}"><a href="/stats/source/{{ card.sourceid }}">{{ card.source }}</a></td>
                        <td>{{ card.cardtype }}</td>
                        <td>{{ card.zone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% else %}
            <div class="well">Нет данных</div>
        {% endif %}
    </div>
{% endblock %}